<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyATi6q3VRJG_apaebXlUVBX7ZZiVBNy-_w</string>
	<key>GCM_SENDER_ID</key>
	<string>977154933011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.assignment9</string>
	<key>PROJECT_ID</key>
	<string>assignment10-b63a2</string>
	<key>STORAGE_BUCKET</key>
	<string>assignment10-b63a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977154933011:ios:df5916490f258468eddae6</string>
</dict>
</plist>